.box-header-image {
    background-image: url("/assets/img/wiesers-v2-round.png");
    background-size: cover;
}

.header-image {
    display: grid;
    place-items: center;
}

.box-card {
    background: white;
    max-width: 400px;
    display: grid;
    place-items: center;
    border-radius: 20px;
}

:host {
    display: grid;
    place-items: center ;
    height: 100%;
    width: 100%;
}

.main {
    display: grid;
    place-items: center;
}

.info p {
    color: #deded7;
    font-size: 0.8em;
}
